{% extends "base.html" %}

{% block title %}Add post{% endblock %}

{% block body %}

<h1>Add post</h1>
<form action="addnew" method="post">
    <table>
        <tr>
            <td><label for="title">Title:</label></td>
            <td><input id="title" type="text" name="title"></td>
        </tr>
        <tr>
            <td><label for="content">Content:</label></td>
            <td><input id="content" type="text" name="content"></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit">
            </td>
        </tr>
    </table>
</form>
{% endblock %}
